src/main/mule/add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bf5c0601-2e11-4741-b799-6ed8dccd3fd0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="16194221" doc:name="API Autodiscovery" doc:id="cf8620b5-23a3-49ef-834c-95de7ae953be" flowRef="addFlow" />
	<flow name="addFlow" doc:id="c7550720-6fd1-4a4b-bdbe-a19ca0412234" >
		<http:listener doc:name="Listener" doc:id="6fd90724-2940-483d-90e9-2b62c8a78250" config-ref="HTTP_Listener_config" path="/add"/>
		<ee:transform doc:name="Transform Message" doc:id="9277faca-191d-40e2-8972-923925a6cb8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
result : attributes.queryParams.num1 + attributes.queryParams.num2]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="268ab4ef-1083-44da-94ee-8006ccb9be97" message="#[payload]"/>
	</flow>
</mule>
